# Import Libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import joypy
from joypy import joyplot
from matplotlib import cm

# Define paths

In [2]:
data_path = os.path.dirname(os.getcwd()) + '/data'
figure_path = os.path.dirname(os.getcwd()) + '/figures'

In [21]:
CB513 = pd.read_csv(data_path + '/patches/CB513_LHP.csv')
case_example = casp12[casp12['PDB_ID'] == '154l-A']
case_example

   PDB_ID    THSA     RHSA    LHP
0  154l-A  1327.0  0.15967  300.0

In [22]:
molpatch_calc = pd.read_csv(data_path + '/case_example/154L_A.csv')
molpatch_calc

                residue_ID  patch_size  patch_rank residue_type protein_id
0   ('A', (' ', 158, ' '))         300           0            A     154L_A
1   ('A', (' ', 154, ' '))         300           0            V     154L_A
2   ('A', (' ', 162, ' '))         300           0            I     154L_A
3   ('A', (' ', 160, ' '))         300           0            M     154L_A
4   ('A', (' ', 134, ' '))         300           0            W     154L_A
5   ('A', (' ', 157, ' '))         300           0            Y     154L_A
6   ('A', (' ', 131, ' '))         300           0            F     154L_A
7    ('A', (' ', 84, ' '))         271           1            W     154L_A
8    ('A', (' ', 79, ' '))         271           1            V     154L_A
9    ('A', (' ', 80, ' '))         271           1            L     154L_A
10  ('A', (' ', 107, ' '))         271           1            W     154L_A
11   ('A', (' ', 91, ' '))         271           1            F     154L_A
12   ('A', (' ', 28, ' '))         203           2            Y     154L_A
13   ('A', (' ', 16, ' '))         203           2            A     154L_A
14   ('A', (' ', 18, ' '))         203           2            C     154L_A
15   ('A', (' ', 29, ' '))         203           2            C     154L_A
16   ('A', (' ', 26, ' '))         203           2            L     154L_A
17    ('A', (' ', 4, ' '))         156           3            C     154L_A
18    ('A', (' ', 5, ' '))         156           3            Y     154L_A
19   ('A', (' ', 59, ' '))         156           3            L     154L_A
20  ('A', (' ', 121, ' '))         156           3            I     154L_A
21   ('A', (' ', 60, ' '))         156           3            C     154L_A
22  ('A', (' ', 151, ' '))         150           4            A     154L_A
23  ('A', (' ', 146, ' '))         150           4            A     154L_A
24  ('A', (' ', 147, ' '))         150           4            Y     154L_A
25  ('A', (' ', 123, ' '))         150           4            F     154L_A
26  ('A', (' ', 119, ' '))         150           4            I     154L_A
27   ('A', (' ', 96, ' '))         150           4            V     154L_A
28  ('A', (' ', 149, ' '))         150           4            A     154L_A
29  ('A', (' ', 111, ' '))          75           5            V     154L_A
30   ('A', (' ', 51, ' '))          52           6            I     154L_A
31   ('A', (' ', 48, ' '))          52           6            Y     154L_A
32   ('A', (' ', 31, ' '))          48           7            V     154L_A
33   ('A', (' ', 42, ' '))          16           8            L     154L_A
34   ('A', (' ', 26, ' '))          15           9            L     154L_A
35  ('A', (' ', 179, ' '))          14          10            Y     154L_A
36   ('A', (' ', 76, ' '))           9          11            A     154L_A
37   ('A', (' ', 44, ' '))           9          11            A     154L_A
38   ('A', (' ', 11, ' '))           8          12            I     154L_A
39   ('A', (' ', 44, ' '))           8          13            A     154L_A
40   ('A', (' ', 37, ' '))           1          14            I     154L_A
41  ('A', (' ', 169, ' '))           1          15            Y     154L_A